body {
    background-color: rgb(40, 42, 54) !important;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
}